//
//  Secrets.xcconfig
//  Haeri
//
//  Created by kv on 16.01.26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


POLLUTION_API_KEY=0d42305cce9b217d3a28f376eb166e2d
AI_API_KEY=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
